#sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    position: fixed;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 0 30px 30px;
    border-right: 1px solid #BBB;
    box-shadow: 0 0 20px #CCC;
}

#content {
    margin: 40px 0 50px 260px;
}

.symbol {
    display: inline;
}

#buttons .setcode {
    width: 3em;
}

#buttons .count {
    width: 30px;
    text-align: center;
}

.code {

}

.no {

}

.name {

}

.rarelity {
    text-align: center;
}

.rarelity.MR {
    background-color: #FF4D00;
    color: white;
    font-style: bold;
}

.rarelity.R {
    background-color: gold;
}

.rarelity.UC {
    background-color: silver;
}

.rarelity.C {
    background-color: black;
    color: white;
}

#footer {
    height: 1.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: black;
}